<h1>Sistema de Galp천es e Estoque</h1>
<h2>Galp천es e Estoques</h2>
<%if @warehouse.empty?%>
    <p>N찾o existem galp천es cadastrados</p>
<%end%>
<%@warehouse.each do |w| %>
  <%=w.name%>
  Codigo: <%=w.code%>
  Cidade: <%=w.city%>
  <%=w.area%> m2
<% end %>